:host {
	margin-left: 5px;
	margin-right: 5px;
}
#text {
	background-color: white;
	color: black;
	max-width: 150px;
	min-width: 40px;
	min-height: 40px;
	border-radius: 3px;
	text-align: center;
	font-family: LED, serif;
	font-size: 2em;
}